main {
  position: relative;
  padding-right: 170px;
}
.nav-wrapper {
  display: block;
}
.sidetoc {
  margin-left: auto;
  margin-right: auto;
  left: calc(100% - 200px);
  position: absolute;
}
.pagetoc {
  position: fixed;
  width: 200px;
  height: calc(100vh - var(--menu-bar-height) - 10rem);
  overflow: auto;
  z-index: 1000;
}
.pagetoc a {
  border-left: 1px solid var(--sidebar-bg);
  color: var(--fg) !important;
  display: block;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  text-align: left;
  text-decoration: none;
  font-size: 1.2rem;
}
.pagetoc a:hover,
.pagetoc a.active {
  background: var(--sidebar-bg);
  color: var(--sidebar-fg) !important;
}
.pagetoc .active {
  background: var(--sidebar-bg);
  color: var(--sidebar-fg);
}

@media only screen and (max-width: 1080px) {
  main {
    padding-right: 0;
  }
  .sidetoc {
    display: none;
  }
}

html {
  scroll-behavior: smooth;
}

@keyframes highlight {
  from { background-color: #f5c772; }
  to { background-color: inherit; }
}

h1:target,h2:target,h3:target,h4:target,h5:target,h6:target {
  animation: highlight 1s ease-in-out;
}