name: mdbook pages

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-24.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v5

      - name: Install cargo-binstall
        uses: cargo-bins/cargo-binstall@v1.17.5

      - name: Setup mdBook
        run: |
          cargo binstall --no-confirm mdbook@0.5.0
          cargo binstall --no-confirm mdbook-mermaid@0.17.0

      - name: Build book
        run: |
          mdbook --version
          mdbook-mermaid --version
          mdbook build

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        if: ${{ github.ref == 'refs/heads/main' }}
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./book
          cname: git-remake.wybxc.cc
